.topmenu{
    background-image:url(/foodSite/Food-images/backgroundMenu.jpg);
    background-size: cover;
    height: 100vh;
}
.topmenu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.topmenu h1{
    font-size: 5rem;
    color: ivory;
    text-shadow: 1px 1px black;
}
.topmenu p{
    font-size: 1.5rem;
    color: ivory;
    text-shadow: 1px 1px 5px rgb(0, 0, 0, 0.1);
    padding: 0px 30px;
}
.menuheadings{
    margin: 30px 0px;
    text-align: center;
    font-size: 2rem;
    background-color: darkred;
    color: ivory;
    padding: 10px;
}
.menus{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.items{
    width: 330px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    margin: 40px 20px;
    box-shadow: 2px 2px 8px rgb(0, 0, 0,0.3);
    height: 400px;
}
.items img{
    width: 330px;
    height: 220px;
    
}
.description{
    text-align: center;
    font-size: larger;
    padding: 10px 10px;
    margin: 5px 20px;;
}
#navbar ul li:nth-child(3) a {
    color: firebrick;
    text-decoration: overline;
  }
  #navbar ul li:nth-child(1) a {
    color: black;
    text-decoration: none;
  }
